<h1>Here is your cart</h1>

<table class="table table-dark">

  <% if !@cart.empty? %>
  <tr>
    <th scope="col">Item Name</th>
    <th scope="col">Item Price</th>
    <th scope="col">Item Total Price</th>
    <th scope="col">Item Quantity</th>
  </tr>
  <% @total = 0 %>
  <% @cart.each do |key, value| %>
  <tr>
    <td><%= key %></td>
    <td>$<%= value[1]%></td>
    <% total = (value[0] * value[1])%>
    <td><%= total %></td>
    <td><%= value[0]%></td>
    <% @total += total %>
  </tr>
    <% end %>
  </table>

  <div class="total-price">
    Total Price: <%= @total %>
    </div>
  <% else %>
    <p> Your cart is empty! </p>
  <%end%>


<div>
<%= link_to "Clear Cart", clear_path, method: 'get'%><br>
<%= link_to "Checkout", checkout_path, method: 'get'%><br>
<%= link_to "Continue Shopping", inventories_path%>
</div>
