<h1>Here is your cart</h1>

<table cellspacing='15'>

  <tr>
    <th>Item Name</th>
    <th>Item Quantity</th>
    <th>Item Price</th>
    <th>Item Total Price</th>
  </tr>

  <% @customers.each do |customer| %>
  <tr>
    <td><%= customer.inventory.name %></td>
    <td><%= customer.purchased_quantity%></td>
    <td><%= customer.inventory.price%></td>
    <td><%= customer.get_item_price%></td>
  </tr>
  <% end %>

</table>
<%= link_to "Continue Shopping", inventories_path%>
