<div id="header_div">
<h1 id="order_header"> Order Confirmed!</h1>

<h3 id="num_header">Your order number is #1450394</h3>
</div>


<div>
<table id="confirmation_table">
  <tr id="header_row">
    <th>Item Name</th>
    <th>Item Price</th>
    <th>Item Total Price</th>
    <th>Item Quantity</th>
  </tr>
  <% @total = 0 %>
  <% @confirmation.each do |key, value| %>
  <tr id="data_row">
    <td><%= key %></td>
    <td>$<%= value[1]%></td>
    <% total = (value[0] * value[1])%>
    <td><%= total %></td>
    <td><%= value[0]%></td>
    <% @total += total %>
  </tr>
    <% end %>
  <tr>
    <th>Total Price: </th>
    <th>$<%= @total %></th>
  </tr>
  </table>
</div>

<%= link_to "Go back to homepage", destroy_order_path, method: 'get' %>
