<!DOCTYPE html>
<html>
  <head>
    <title>Mallmart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Welcome to MallMart</h1>
    <div>
    <nav>
      <ul>
        <li><%= link_to "homepage", inventories_path %></li>
          <% if session["customer_id"] %>
          <li><%= link_to "cart", purchases_path %></li>
        <li><%= link_to "profile", customer_path(session[:customer_id]) %></li>
        <li><%= link_to "Logout", logout_path, method: "DELETE" %></li>
          <% else %>
        <li><%= link_to "profile", login_path %></li>
        <li><%= link_to "Login", login_path %></li>
          <%end%>
      </ul>
    </nav>
    </div>
    <%= yield %>
  </body>
</html>
