<% if @customer.errors %>
    <ul class="error-list">
        <% @customer.errors.full_messages.each do |message| %>
            <li class="error"><%= message %></li>
        <% end %>
    </ul>
<% end %>

  <div class="reg-wrapper">
  <%= form_for @customer do |cust| %>
  <div class="form-row reg-form">
    <div class="col-4">
    <%= cust.text_field :first_name, placeholder: "First name", class: "form-control" %>
    </div>
    <div class="col-4">
    <%= cust.text_field :last_name, placeholder: "Last name", class: "form-control" %>
    </div>
    </div>

    <div class="form-row reg-form">
      <div class="col-4">
    <%= cust.text_field :email, placeholder: "Email", class: "form-control" %>
    </div>
    <div class="col-4">
    <%= cust.text_field :phone_number, placeholder: "Phone number", class: "form-control" %>
    </div>
    </div>

    <div class="form-row reg-form">
      <div class="col-4">
    <%= cust.text_field :address, placeholder: "Address", class: "form-control" %>
    </div>
    <div class="col-4">
    <%= cust.text_field :username, placeholder: "Username", class: "form-control" %>
    </div>
    </div>

    <div class= "form-row reg-form">
      <div class="col-4">
    <%= cust.password_field :password, placeholder: "Password", class: "form-control" %>
    </div>
    </div>

    <div class= "form-row reg-form">
      <div class="col-2">
    <%= cust.submit "Create Account" %>
    </div>
    </div>
  <% end %>
  </div>
