<h1> Welcome, <%= @customer.full_name%>! </h1>

<div class='user_details'>
    <label id="classifier">Email:  </label> <%= @customer.email%><br>
    <label id="classifier">Phone Number: </label> <%= @customer.phone_number%><br>
    <label id="classifier">Address:  </label> <%= @customer.address%><br>
    <label id="classifier">Username: </label>  <%= @customer.username%><br>
</div>
  <label id="classifier" >Previous Purchases:</label>

<div>
  <% if !@new_hash.empty? %>
  <table id="cust_table">
    <% @new_hash.each do |order_date, purchase|%>
      <tr>
        <th id="purchase_header">Purchases for: <%= order_date %> o'clock</th>
      </tr>
      <tr>
        <th id="classifier">Item Name</th>
        <th id="classifier">Quantity</th>
      </tr>

      <% purchase.each do |item|%>
        <tr>
          <td><%= item[0] %></td>
          <td><%= item[1] %></td>
        </tr>
      <% end %>
    <% end %>
</table>
  <% else %>
    <p>No items to display</p>
  <% end %>
</div>
