<h1> Welcome, <%= @customer.full_name%>! </h1>

<div class='user_details'>
    <p>Email: <%= @customer.email%> </p>
    <p>Phone Number: <%= @customer.phone_number%></p>
    <p>Address: <%= @customer.address%> </p>
    <p>Username: <%= @customer.username%></p>

</div>
  <label>Previous Purchases:</label>
  <% if !@new_hash.empty? %>
  <table cellspacing='15'>
    <% @new_hash.each do |order_date, purchase|%>
      <tr>
        <th>Purchases for: <%= order_date %> o'clock</th>
      </tr>
      <tr>
        <th>Item Name</th>
        <th>Quantity</th>
      </tr>

      <% purchase.each do |item|%>
        <tr>
          <td><%= item[0] %></td>
          <td><%= item[1] %></td>
        </tr>
      <% end %>
    <% end %>
</table>
  <% else %>
    <p>No items to display</p>
  <% end %>
