<h2> <%= @inventory.name %> Details </h2>

<table cellspacing="10">
  <thead>
    <th>Quantity</th>
    <th>Category</th>
    <th>Description</th>
    <th>Price</th>
    <th>Supplier Name</th>
    <th>Supplier Description</th>
  </thead>
  <tr>
    <% if (@inventory.quantity <=0) %>
    <td>Sold Out</td>
    <%= flash["notice"] = "Currently Restocking"%>
      <% else %>
    <td><%= @inventory.quantity %></td>
      <% end %>
    <td><%= @inventory.category %></td>
    <td><%= @inventory.description %></td>
    <td><%= @inventory.price %></td>
    <td><%= @inventory.supplier.name%></td>
    <td><%= @inventory.supplier.description%></td>
  </tr>
</table>

<%= form_for @purchase do |f| %>
  <%= f.select :purchased_quantity, (1..@inventory.quantity) %>
  <%= f.hidden_field :inventory_id, value: @inventory.id %>
  <%= f.hidden_field :customer_id, value: session[:customer_id]%>
  <%= f.submit "add to cart"%>
<% end %>

<%= link_to "Go back to the Hompage", inventories_path%>
