<h2> <%= @inventory.name %> Details </h2>

<table cellspacing="10">
  <thead>
    <th>Quantity</th>
    <th>Category</th>
    <th>Description</th>
    <th>Price</th>
  </thead>
  <tr>
    <td><%= @inventory.quantity %></td>
    <td><%= @inventory.category %></td>
    <td><%= @inventory.description %></td>
    <td><%= @inventory.price %></td>
  </tr>
</table>

<%= form_tag ('/purchases'), method:('post') do %>
  <select name=purchased_quantity>
    <% for i in (1..@inventory.quantity) do %>
      <option value=<%= i %>> <%= i %>
    <%end%>
  </select>
  <input type=hidden name=inventory_id value=<%= @inventory.id%>>
  <input type=hidden name=customer_id value=1>
  <input type=submit value='add to cart'>
<% end %>

<%= link_to "Go back to the Hompage", inventories_path%>
